.navbar{
  background: #7ec0ee;
  border: 0;
}
body{
  background-color: #e5f2fb;
  font-family: 'Roboto', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.navbar-brand{
  font-weight: bold;
  font-size: 1.5em;
}
.col-md-6 img{
  width: 100%;
  border-radius: 20px;
}
#top{
  margin-top: 80px;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
.single{
    width: 20%;
    padding: 30px;
    position: relative;
    margin-left: 50px;
}
p{
  font-size: 18px;
  color: #6C7A89;
  text-align: center;
}
.top-right{
  margin-top: 70px;
}
.item img{
  width: 100%;
}
.cubes .col-md-4 {
    width: 29%;
    float: left;
    margin: 2%;
    padding: 1%;
    position: relative;
}
.cubes p{
  font-size: 1em;
  margin: 10px;
}
.material-icons{
  width: 130px;
  height: 130px;
  color: #2980b9;
  margin-left:190px;
}
.client-section{
  background-color: #F3F3F3;
  display: block;
  margin-top: 80px;
}
.empty{
  padding: 20px;
}


/*#infoblck{
  margin-top: 100px;
  margin-bottom: 100px;
}*/
.late{
  margin-left: 210px;
}
.testimonal{
  margin: 70px 130px;
  padding: 30px;
  background: #F3F3F3;
  color: black;
  border-radius: 10px;
}
.container-info1{
  width: 100%;
}
.testimonal h4{
  text-align: center;
  color: lightgrey;
}
/*
#info-left img{
  border-radius: 100%;
}
#info1-right{
  margin-top: 30px;
}
#info2{
  margin-top: 70px;
  margin-bottom: 70px;
}
#info2 p{
  font-size: 1.2em;
}*/
/*#contact{
  background-position: 30% 20%;
  padding:10px;
  margin-top: 40px;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
}*/
/*form{
  color: black;
  font-size: 1.5em;
}

#contact1 p{
  font-family: 'Josefin Sans';
  font-size: 14px;
  color: #3333CC;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1px;
  margin-top: 10px;
}
#contact1 h5{
  font-family: 'Josefin Sans';
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #A1A1A1;
  line-height: 1.3;
  margin: 10px 0 30px 0;
}
#contact1{
  margin: 5px;
}
.message-icon{
  width: 150px;
  height: 150px;
  margin-top: 20px;
  font-size: 80px;
}
.topcontact-left img{
  margin-top: 10px;
}
.topcontact-left a{
  text-align: center;
}
.topcontact-left p{
  color: grey !important;
}*/
